/* Əvvəlki tapşırıqdan gələn hissə */
html {
    scroll-behavior: smooth;
}

/* Yeni tapşırığın tələbləri */
body {
    color: #161616;
}

a {
    color: #161616;
}

.visually-hidden {
    display: none;
}

.card-category {
    color: #D73953;
}

.section-tagline {
    color: #D73953;
}
