:root {
    /* Custom properties for colors */
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    
    /* Text color variable referencing black color */
    --text-color: var(--color-black);
}

html {
    scroll-behavior: smooth;
}

body {
    /* Set foreground color using the text-color variable */
    color: var(--text-color);
}

a {
    /* Set anchor color using the text-color variable */
    color: var(--text-color);
}

.visually-hidden {
    display: none;
}

.card-category {
    /* Set color using the primary color variable */
    color: var(--color-primary);
}

.section-tagline {
    /* Set color using the primary color variable */
    color: var(--color-primary);
}
